/* --------> Variables */

:root {
  /* need to add color defaults in this syntax:display: display: 
    --color-primary: #4309A8;
    --color-secondary: #FF5700;
    --color-light: #F7F1F8;
    --color-font-light: #F7F1F8;
    --color-font-dark: #030A0E;
  */
}

/* --------> Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #888;
  /* 
  background-image: url(./assets/ramenBowl2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:  cover; */
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------> Styles for root DOM element */ 

#root {
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
  background-color: #888;
  /* background-image: url(./assets/ramenBowl2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:  cover; */
}

/* --------> Styles for utility classes for background: */ 

.flexContainerBigBackground {
  width: auto;
  height: 90vh;
  max-width: 1500px;
  max-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.flexContainerSmallBackground {
  width: auto;
  height: 30vh;
  max-width: 1500px;
  max-height: 700px;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
}

.flexItemBackground {
  background-color: white;
  padding: 2rem;
  border-radius: 10%;
}

.column {
  flex-direction: column;
}


/* --------> Styles for ChefName and when Date */ 

.backgroundPictureOne {
  background-image: url(./assets/ramenBowl2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:  cover;
}

.flexContainerBigBackground  h1 {
  font-size: 6rem;
  color: #BC002D;
}
/* -------->Styles for the Location and Map widget: */

.backgroundPictureTwo {
  background-image: url(./assets/ramenBowl1.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:  cover;
}

.location {

}

.address {

}

.mapContainer {
  width: 50%;
  max-width: 500px;
  min-width: 260px;
  height: 45%;
  max-height: 550px;
  min-height: 250px;
  margin-top: 2rem;
}

/* --------> Styles for the footer widget: */

.instagramIcon {
  width: 24px;
  height: 24px;
}



@media screen and (min-width: 900px) {
  .backgroundPictureOne  h1 {
    font-size: 8rem;
  }
}