#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Styles for the Location and Map widget: */

.mapContainer {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

/* Styles for the footer widget: */

.instagramIcon {
  width: 24px;
  height: 24px;
}