/* --------> Variables */

:root {

    --color-primary: #BC002D;
    --color-theme: #333333;
    --color-background: #fff;
    --color-font-main: #BC002D;
    --color-font-dark: #000000;
    --font-header: 'Permanent Marker', cursive;
    --font-body: 'Amatic SC', cursive;
    --font-longtext: 'Mukta', sans-serif;
}

/* --------> Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #888;
  /* 
  background-image: url(./assets/ramenBowl2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:  cover; */
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
  color: var(--color-font-dark);
  transition: color 0.2s ease-in-out;

}

a:hover {
  color: var(--color-font-main);
}


/* --------> Styles for root DOM element */ 

#root {
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
  background-color: var(--color-theme);
  /* background-image: url(./assets/ramenBowl2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:  cover; */
}

/* --------> Styles for utility classes for background: */ 

.flexContainerBigBackground {
  width: auto;
  height: 90vh;
  max-width: 1500px;
  max-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.flexContainerSmallBackground {
  width: auto;
  height: 30vh;
  max-width: 1500px;
  max-height: 700px;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
}

.flexItemBackground {
  background-color: var(--color-background);
  opacity: 0.9;
  padding: 2rem;
  border-radius: 5%;
}

.backgroundPicture {
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:  cover; 
}

.column {
  flex-direction: column;
  justify-content: end;
}

.flexItemBackground h2 {
  font-family: var(--font-header);
  font-size: 2rem;
  color: var(--color-font-dark);
  margin-bottom: 1rem;;
}

.flexItemBackground p {
  font-family: var(--font-body);
  font-size: 2rem;
  color: var(--color-font-dark);
  line-height: 1.3;
}

/* --------> Styles for ChefName and when Date */ 

.pictureOne {
  background-image: url(./assets/ramenBowl2.jpg);
}

.flexContainerBigBackground  h1 {
  font-size: 4rem;
  font-family: var(--font-header);
  color: var(--color-font-main);
}

#black {
  color: var(--color-font-dark);
}
/* -------->Styles for the Location and Map widget: */

.pictureTwo {
  background-image: url(./assets/ramenBowl1.jpg);
}

#big {
  height: 100vh;
}

.mapContainer {
  width: 50%;
  max-width: 500px;
  min-width: 260px;
  height: 45%;
  max-height: 550px;
  min-height: 250px;
  margin-top: 2rem;
  border-radius: 1%;
  border: solid var(--color-background) 2px;
}
/* --------> Styles for description widget: */

.pictureThree {
  background-image: url(./assets/ramenBowl4.jpg);
}

#chefPhoto {
  width: 20rem;
  height: auto;
}

#long {
  font-family: var(--font-longtext);
  font-size: 1.4rem;
  max-width: 30rem;
}
/* --------> Styles for the footer widget: */

footer {
  background-color: var(--color-theme);
  height: 3rem;
  border-top: solid var(--color-background) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagramIcon {
  width: 35px;
  height: 35px;
}



@media screen and (min-width: 900px) {
  .backgroundPictureOne  h1 {
    font-size: 8rem;
  }
}